@import 'styles';

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: $primary-font-family;
  @include height-and-width(100%, 100% )
}

.welcome-page {
  background-position: center;
}

header {
  @include flex-container(center);
  height: 10%;
}

header, h1 {
  display: contents;

}

main {
  background-image: url('../images/hotel-main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  overflow: scroll;
}

.login-in-area {
  @include flex-container(row);
  @include height-and-width(40%, 40%);
  z-index: 100;
} 

.login-error-in-message {
  padding-left: 4em;
}

input {
  @include height-and-width(10%, 30%);
  display: inline inline-block;
}

// User login Page
.user-login-page {
  display: none;
}